<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>社員登録画面</title>
        <!-- javascropt -->
        <script type="text/javascript">
        	//登録ボタンクリックfunction
        	function addSubmit(){
        		if(confirm("社員名簿に登録しますか？")){
        			return true;
        		}else{
        			return false;
        		}
        	};
        </script>
    </head>
<body>
 	<!-- javascropt読み込みエリア -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- ナビゲーションエリアの読み込み -->
	<script src="js/include.js"></script>
  <!-- メインコンテンツ -->
  <h5 class="topTitle">社員登録</h5>
	<div class="origin-contiainer col-sm-10 mb-3" th:if="${errorList}">
		<div class="origin-table-contiainer">
			<table>
				<tr th:each="errors:${errorList}" th:object="${errors}">
					<td th:text="${errors}"></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="origin-contiainer">
		<!-- フォームエリア -->
		<form class="origin-form-contiainer" action="#" th:action="@{/rollAdd}" enctype="multipart/form-data" th:method="post" th:object="${user}">
			<div class="form-group row  mb-1">
				<div class="col-md-10">
					<label class="control-label col-sm-3 origin-label-font1">社員ID(4ケタ)
					<span class="text-danger">*</span></label>
					<input class="form-control" type="text" name="id" th:field="*{id}"/>
				</div>
			</div>
			<div class="form-group row  mb-1">
				<div class="col-md-10">
					<label class="control-label col-sm-3 origin-label-font1">氏名(スペースなし)
					<span class="text-danger">*</span></label>
					<input class="form-control" type="text" name="name" th:field="*{name}"/>
				</div>
			</div>
			<div class="form-group row  mb-1">
				<label class="col-md-0 control-label origin-label-font1">性別</label>
				<div class="col-md-1">
					<label for="man">男</label>
					<input type="radio" name="sex" id="man" value="男" checked/>
					<label for="woman">女</label>
					<input type="radio" name="sex" id="woman" value="女" />
				</div>
			</div>
			<div class="form-group row  mb-1">
				<div class="col-md-10">
					<label class="control-label col-sm-3 origin-label-font1">年齢
					<span class="text-danger">*</span></label>
					<input class="form-control" type="text" name="age" th:value="*{age}" />
				</div>
			</div>
			<div class="form-group row  mb-1">
				<div class="col-md-10">
					<label class="control-label col-sm-3 origin-label-font1">役職</label>
					<select class="form-control" name="post">
						<option value="試用期間" selected>試用期間</option>
						<option value="メンバー" th:value="メンバー">メンバー</option>
						<option value="TL">TL</option>
						<option value="GL">GL</option>
					</select>
				</div>
			</div>
			<div class="form-group row  mb-1">
				<div class="col-md-10">
					<label class="control-label col-sm-3 origin-label-font1">入社日
					<span class="text-danger">*</span></label>
					<input class="form-control" type="date" name="jDate" th:value="*{jDate}"/>
				</div>
			</div>
			<div class="form-group row  mb-1">
				<div class="col-md-10">
					<label class="control-label col-sm-3 origin-label-font1">顔写真
					<span class="text-danger">*</span></label>
					<input class="form-control" type="file" name="imgFile"/>
				</div>
			</div>
			<div class="form-group row  mb-1">
				<div class="col-md-3">
					<button class="btn btn-primary" th:onclick="return addSubmit()">登録</button>
					<span class="text-danger">*(必須項目)</span>
				</div>
			</div>
		</form>
	</div>
</body>
</html>